.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100px;
  background-color: #eee;
}

.box {
  background-color: teal;
  color: white;
  padding: 20px;
}
