<!DOCTYPE html>
<html>
<head>
    <title>Job Application Form</title>
</head>
<body>
    <h2>Apply Here</h2>
    <form method="POST" action="/" enctype="multipart/form-data">
        Name: <input type="text" name="name"><br><br>
        Email: <input type="email" name="email"><br><br>
        Phone: <input type="text" name="phone"><br><br>
        Address: <input type="text" name="address"><br><br>
        College Name: <input type="text" name="college_name"><br><br>
        Graduation Year: <input type="text" name="graduation_year"><br><br>
        Stream: <input type="text" name="stream"><br><br>
        Position: <input type="text" name="position"><br><br>
        Resume: <input type="file" name="resume" required><br><br>
        <input type="submit" value="Submit">
    </form>

    <br>
    <a href="/applications">View Submitted Applications</a>

</body>
</html>
